@import "helpers";

.auth {
    position: relative;
    width: 100%;
    height:100vh;
    overflow: hidden;
    &::before {
        @include content(absolute);
        background-color: var(--ion-color-secondary-shade);
        z-index: 1;
        right: auto;
        transition: all 0.5s;
    }
    &::after {
        content: '';
        position: absolute;
        background-color: var(--ion-color-medium);
        bottom: auto;
        top: -83px;
        left: auto;
        width: 100%;
        height: 100%;
        border-radius: 0 0 0 50px;
        @include transform(skew(1deg, 6deg) scale(1.05) translateX(30px));
        z-index: 1;
        transition: all 0.5s ;
    }

    &.register {
        &::before {
            background-color: var(--ion-color-primary);
        }
        &::after {
            background-color: var(--ion-color-medium);
            left:0;
            right: auto;
            border-radius: 0 0 50px 0;
            @include transform(skew(0deg, -6deg) scale(1.05) translateX(-30px));
        }
    }


    .auth-header {
        width: 70px;
    }

    .auth-content {
        overflow: hidden;
        position: relative;
        z-index: 2;
        width: 74%;
        top: 10%;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 7px 15px 1px rgba(0,0,0,0.75);
        background-color:  var(--ion-color-light);
    }

    .auth-body {
        padding: 15px 0;
        min-height: 300px
    }
}