<ion-content>
    <div class="auth" [ngClass]="{'register': helper.cssClasses}">
        <ion-grid fixed>
            <ion-row>
                <ion-col size-xs="12" size-sm="12" size-md="9" size-lg="7" size-xl="5" class="mx-auto">
                    <div class="auth-content mx-auto">
                        <div class="auth-header mx-auto">
                            <ion-img src="./assets/logo.png"></ion-img>
                        </div>
                        <div class="auth-body" [ngClass]="{'disabled': helper.isLoading}">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>