<ion-header>
    <ion-toolbar>
        <ion-title color="light">
            Minha conta
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full">
        <ion-item>
			<ion-icon slot="start" name="person"></ion-icon><ion-label>Perfil</ion-label> 
        </ion-item>
        <ion-item>
			<ion-icon slot="start" name="notifications"></ion-icon>
			<ion-label>Notificações</ion-label>
        </ion-item>
        <ion-item >
			<ion-icon slot="start"  name="cash"></ion-icon>
            <ion-label>Assinatura</ion-label>
        </ion-item>
        <ion-item (click)="auth.logout()">
			<ion-icon slot="start" name="exit"></ion-icon>
            <ion-label>Sair</ion-label>
        </ion-item>
    </ion-list>
</ion-content>