<ion-card color="light">
    <ion-card-header>
        <ion-card-title>Agenda</ion-card-title>
    </ion-card-header>

    <ion-card-content>
		<full-calendar defaultView="listWeek" 
		[locale]="locale"
		[plugins]="calendarPlugins" 
		deepChangeDetection="true"
		[header]="{
			left:   'title',
			center: '',
			right:  'prev,next'
		}"
		[events]="[
			{ title: 'event 1', date: '2019-08-23' },
			{ title: 'event 2', date: '2019-08-24' }
	  	]"></full-calendar>
    </ion-card-content>
</ion-card>