<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
            <ion-label>Início</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="w1club">
            <ion-icon name="bowtie"></ion-icon>
            <ion-label>W1club</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="account">
            <ion-icon name="person"></ion-icon>
            <ion-label>Minha conta</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>