@mixin font-face($name, $path )
{
    @font-face {
        font-family: '#{$name}';
        src: url('#{$path}/#{$name}.eot');
        src: url('#{$path}/#{$name}.eot?#iefix') format('embedded-opentype'),
                url('#{$path}/#{$name}.svg##{$name}') format('svg'),
                url('#{$path}/#{$name}.ttf') format('truetype'),
                url('#{$path}/#{$name}.woff') format('woff'),
                url('#{$path}/#{$name}.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    } 
}

@mixin box-shadow($hlenght:2px, $vLengh:2px, $blur:5px, $radius: 1px, $color: #000 )
{
    -webkit-box-shadow: $hlenght $vLengh $blur $radius $color;
    -moz-box-shadow: $hlenght $vLengh $blur $radius $color;
    box-shadow: $hlenght $vLengh $blur $radius $color;
}

@mixin content($position: absolute) 
{
    content: '';
    position: $position;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin transform($transform) 
{
    transform: $transform
}

@mixin bg-default()
{
    background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
