<form [formGroup]="form" @register>
    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" autocapitalize="off" autocomplete="off" formControlName="email" required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">CPF</ion-label>
        <ion-input type="text" autocapitalize="off" autocomplete="off" formControlName="cpf" required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input [type]="showPassword? 'password': 'text'" autocapitalize="off" autocomplete="off" formControlName="password" required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Confirme senha</ion-label>
        <ion-input [type]="showPassword? 'password': 'text'" 
        autocapitalize="off" 
        autocomplete="off" 
        formControlName="password" 
        required></ion-input>
    </ion-item>
    <ion-grid fixed class="mt-3">
        <ion-row>
            <ion-col size-xs="12" size-sm="12" size-md="6">
                <ion-button expand="block" color="success">
                    Registrar
                </ion-button>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="6">
                <ion-button [routerLink]="['/auth/login']" expand="block" color="secondary">
                    Já tenho cadastro
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</form>