<ion-header>
    <ion-toolbar >
        <ion-title color="light">
            {{ auth.user.name.split(' ')[0] }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="medium">
    <ion-grid fixed>
        <ion-row>
            <ion-col size-xs="12" 
            size-sm="11" 
            size-md="8" 
            size-lg="8" 
            size-xl="8" 
            class="mx-auto">
                <app-schedule></app-schedule>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>