
<form [formGroup]="form" (submit)="authenticate()" @login>
    <ion-item>
        <ion-label position="floating">Email / CPF</ion-label>
        <ion-input type="email" 
        autocapitalize="off" 
        autocomplete="off" 
        formControlName="username"
        required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input [type]="showPassword? 'password': 'text'" 
        autocapitalize="off" 
        autocomplete="off" 
        formControlName="password"
        required></ion-input>
        <ion-icon [name]="showPassword? 'eye': 'eye-off'" 
        slot="end" 
        (click)="togglePassword()"
        class="mt-4"></ion-icon>
    </ion-item>
    <ion-item lines="none">
        <ion-label text-right>
            <a href="">Esqueceu sua senha?</a>   
        </ion-label>
    </ion-item>
    <ion-grid fixed >
        <ion-row>
            <ion-col size-xs="12" size-sm="12" size-md="6" >
                <ion-button type="submit" [disabled]="form.invalid" expand="block" color="primary">
                    Entrar
                </ion-button>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="6" >
                <ion-button [routerLink]="['/auth/register']" expand="block" color="secondary">
                    Cadastrar-se
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</form>