/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
// @import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";

// helpers
@import "helpers";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

//  boostrap utilidades
@import "~bootstrap-utilities";

// plugins
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/list/main.css';

:root {
    --background: var(--ion-color-light);
}

ion-toolbar {
    --background: linear-gradient(23deg, var(--ion-color-primary), var(--ion-color-primary-shade));
}

.disabled {
    pointer-events: none;
    opacity: 0.7;
}

.fc-button-primary {
    background-color: var(  --ion-color-secondary);
    border: var(  --ion-color-secondary);
    &:hover {
        background-color:  var(--ion-color-secondary-shade);
        border: var( --ion-color-secondary-shade);
        box-shadow: 0 0  5px  var(--ion-color-medium);
    }
    &:focus {
        background-color:  var(--ion-color-tertiary);
        box-shadow: 0 0  5px  var(--ion-color-medium);
    }
    &:disabled {
        background-color: var( --ion-color-primary);
        border: var(--ion-color-primary);
    }
}
.fc-toolbar h2 {
    font-size: 1.4em;
}